.app-header {
  padding: 15px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.input {
  height: 50px;
  width: 100%;
  border-radius: 12px;
  background-color: white;
  display: flex;
  justify-content: center;

  align-items: center;
}

.form-input {
  width: 70%;
}
.to-do-container {
   /* padding: 5px;
   /* margin: 10px; */
   min-width: 500px;
   margin: '10px auto' 

}



.login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  flex-direction: row;
}

.login-btn {
  margin-left: 20px;
}

.completed-todo-header{
  margin: 0;
  color: 'black';
  padding: 20px;
}

.completed-to-do-container {
  width: 100%;
  text-decoration: line-through;
}

.to-do-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.to-do-content {
  display: flex;
  justify-content: center;
  align-content: center;
}
